@media screen and (min-width:428px) {
    .container{
      max-width: 428px;
      padding: 0 16px;

    }
  }
  
  @media screen and (min-width:768px) {
    .container{
      max-width: 753px;
      padding: 0 16px;
    }
    .container-div{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      
      }
    .customers-div>.container{
      min-width: 738px;
   }
   .container-icon-team>.container{
    min-width: 552px ;
   }

.title-icon{
  background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/fon-title/fon-title-tablet.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx){
  .title-icon{
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/2x/fon-title-tablet-2x.jpg);
  }
}
.header-menu{
  display: flex;
}
.header-logo{
  margin-right: 76px;
}
.header-contact-list-container{
padding:16px ;
}
.header-contact-soc-list{
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
gap: 12px;
}


.header-contact-soc-list{
gap: 12px;

}
.header-contact-soc-link{
padding: 0;

}


.mob-menu-container-hamburger{
display: none;
}
.caption-section{
padding-top: 96px;
padding-bottom: 96px;
} 
 .caption-text-li{
 width: calc((100% - 24px) / 2);
 }

.caption-list{ 
padding: 0;
gap: 72px 24px;
  }

.caption-subject{
  display: flex;
text-align: start;
justify-content: flex-start;
}


.our-team-img{
  padding-left: 108px;

}
.li-our-team-text-pic{
max-width:calc((100% - 24px) /2);
gap: 64px 24px;
}




.li-customers{
width: calc((100% - 48px) / 3);

}
.customers-icon{
width: 168px;
}
.ul-customers{
  gap: 24px;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: row;
  }
  .footer-logo{
display: block;
text-align: left;
  }
.div-footer-icon-div{

  }
  .div-footer-icon-div{
  padding-bottom: 104px;
  }
  .footer-form-div{
  padding-left: 108px;
  }
  .footer-email-form{
flex-direction: row;
  }
.footer-input{
width: 264px;
}
.footer-slogan{
justify-content: flex-start
}
.slogan-social-media {
  display: block;

}
.button-footer-form{
margin-left: 0;
margin-right: 0;
}


/* .mob-menu-container-hamburger{
  display: none;
  }
   */


}


@media screen and (min-width:1158px) {
.container{
max-width: 1166px;
}
.container-icon-team>.container{
  min-width: 552px;
  margin-left: 156px;
}


.title-icon{
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/fon-title/font-title-desktop.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx){
  .title-icon{
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/2x/fon-title-desktop-2x.jpg);
  }
}
.header-contact-soc-list{
display: flex;
flex-wrap: nowrap;
justify-content: flex-end;
gap: 40px;
  }
  .header-list{
    padding-right: 300px;
  }
  .header-logo{
    margin-right: 76px;
  }
  .header-contact-list-container{

  }
.header-container{

 }
.caption-text-li{
width: calc((100% - 72px) / 4);
}
.div-caption-icon{
display: block;
}
.caption.icon{
display:flex ;
}
.caption-subject{
  font-size: 20px;
  font-weight: 500px;
}
.caption-text-sub{
font-weight: 400;
}


.our-team-img{
  display: flex;
  align-items: center;
}
.ul-our-team-img-text{
  display: flex;
  align-items: center;
  justify-content: center;

}
.li-our-team-text-pic{

  max-width:calc((100% - 24px)/4);
  margin: 64px 24px;


  }

.li-customers{
  width: calc((100% - 144px)/6);
}
.customers-div{
  padding-top: 120px;
  padding-bottom: 120px;
}
.caption-list{ 
  padding: 0;
  gap: 72px 24px;
    }




.footer-container{

display: flex;
flex-wrap: nowrap;
align-items: flex-start;
  }
.footer-container-icon{
padding-right: 120px;
padding-bottom: 0;
  }
  .footer-logo{

  }
.footer-text{
display: block;
justify-content: center;
width: 264px;
}
.div-footer-icon-div{
display: inline-block;
padding-bottom: 0;
margin-right: 80px;
  }

  .footer-form-div{
display: block;
align-items: center;
margin-left: auto;
padding-left: 0;

  }

}