@media screen and (min-width:428px) {
.container{
 max-width: 428px;
}

.modal-form-btn{
  width: 106px;
}
}

  .modal{
  position: absolute;
  top:20px;
  left:50%;
  transform: translate(-50%);
  max-width: 392px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc; 
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 72px 16px 24px;
  gap: 100px;
  
    }




 @media screen and (min-width:768px) {
.container{

min-width: 584px;
padding: 0 16px;
}

.header-container{
  max-width: 752px;
  height: 72px;
}
.container-div{
display: inline;
min-width: 752px;
margin-left: 0;
margin-right: 0;
}
.customers-div>.container{
min-width: 552px;
}
.container-icon-team>.container{
min-width: 584px;
   }

.footer-container{
max-width: 584px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
column-gap: 24px;
}

.title{
font-size: 56px;
letter-spacing: 1.12px;
}
.title-icon{
  background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/fon-title/font-title-desktop.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx){
  .title-icon{
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/2x/fon-title-desktop-2x.jpg);
  }
}
.header-menu{
  display: flex;
}
.header-logo{
  margin-right: 76px;
}
.header-contact-list-container{
padding:16px ;
}
.header-contact-soc-list{
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 12px;
padding-left: 122px;
}

.header-contact-soc-link{
padding: 0;
}



.navigation{
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
}






.caption-section{
padding-top: 96px;
padding-bottom: 96px;
} 
 .caption-text-li{
 width: calc((100% - 24px) / 2);
 }

.caption-list{ 
padding: 0;
gap: 72px 24px;
  }

.caption-subject{
display: flex;
text-align: start;
justify-content: flex-start;

font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.72px;
}
.caption-text-sub{
font-size: 16px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.32px;
}


.ul-our-team-img-text{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
column-gap: 24px;
row-gap: 64px;
}
.li-our-team-text-pic{
max-width:calc((100% - 24px) /2);
gap: 64px 24px;
}



.customers-slogan{
  padding-top: 96px;
}
.li-customers{
width: calc((100% - 48px) / 3);

}
.customers-icon{
width: 168px;
}
.ul-customers{
  gap: 24px;
  padding-bottom: 96px;
}





  .footer-logo{
display: block;
text-align: left;
}
.div-footer-icon-div{

  }
  .div-footer-icon-div{
  padding-bottom: 104px;
  }

  .footer-email-form{
flex-direction: row;
  }
.footer-input{
width: 264px;
}
.footer-slogan{
justify-content: flex-start
}
.slogan-social-media {
  display: block;

}
.button-footer-form{
margin-left: 0;
margin-right: 0;
}


.menu-open-btn{
display: none;
}


.modal{
position: absolute;
top:20px;
left:50%;
transform: translate(-50%);
width: 408px;
min-height: 584px;
border-radius: 4px;
background: #fcfcfc; 
box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
padding: 72px 24px 24px 24px;
}

.modal-form-btn{
width: 169px;
}
}


@media screen and (min-width:1160px) {
.container{
max-width: 1160px;
}
.container-icon-team>.container{
  min-width: 552px;
  margin-left: 156px;
}
.container-heading-img{
max-width: 1144px;
}
.header-container{
  min-width: 768px;
  max-width: 1144px;
}
.container-icon-team{
min-width: 1144px;
}
.customers-div{
max-width: 1144px;
}
.title-icon{
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/fon-title/font-title-desktop.jpg);
 padding: 188px 0; 
}

@media (min-device-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx){
  .title-icon{
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/2x/fon-title-desktop-2x.jpg);
  }
}

.title{
font-size: 56px;
letter-spacing: 1.12px;
}

.header-contact-soc-list{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
padding-left: 0;
  }
  .header-list{
 padding-right: 300px; 
  }
  .header-logo{
    margin-right: 76px;
  }
.menu-open-btn{
display: none;
}


.caption-section{
display: flex;
flex-direction: row;
justify-content: center;
}
.container-div{
min-width: 1128px;

}
.caption-text-li{
width: calc((100% - 72px) / 4);
}
.div-caption-icon{
display: block;
}
.caption.icon{
display:flex ;
}
.caption-subject{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.caption-text-sub{
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.32px;
}


.heading-img-pic{
display: flex;
}
.heading-caption{
display: flex;
justify-content: center;
}


.our-team-img{
  display: flex;
  align-items: center;
}
.ul-our-team-img-text{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  gap: 24px;

}
.li-our-team-text-pic{

  max-width:calc((100% - 24px)/4);


  }
.ul-customers{
flex-wrap: nowrap;
  }
.li-customers{
  width: calc((100% - 120px)/6);
  max-width: 168px;
}

.caption-list{ 
  padding: 0;
  gap: 72px 24px;
    }

.picture-text-list{
  width: calc((100% - 24) /2);
  display: inline-flex;
  flex-direction: row;
}
.picture-list-item-animation  {
  width:calc((100% - 48px)/3);

}


.footer-container{
min-width: 1144px;
display: flex;
flex-wrap: nowrap;
align-items: flex-start;
gap: 80px;
  }
.footer-container-icon{
padding-right: 40px;
padding-bottom: 0;
  }
  .footer-logo{

  }
.footer-text{
display: block;
justify-content: center;
width: 264px;
}
.div-footer-icon-div{
display: inline-block;
padding-bottom: 0;
  }

  .footer-form-div{
display: block;
align-items: center;
margin-left: auto;
padding-left: 0;

  }

.modal{
position: absolute;
top:20px;
left:50%;
transform: translate(-50%);
min-width: 408px;
min-height: 584px;
border-radius: 4px;
background: #fcfcfc; 
box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
 0px 1px 3px rgba(0, 0, 0, 0.12),
 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
padding: 72px 24px 24px 24px;
 }


}